user_specifics = {}
$(document).behave "load", "duke[data-current-account]", ->
  user_specifics.account = $(this).data('current-account')
  user_specifics.tenant = $(this).data('current-tenant')
  user_specifics.language = $(this).data('current-language')
  $('#duke-input').keyup (e) ->
    if $("#duke-input").val() == ""
      $('#btn-send').prop("disabled",true);
      $("#btn-send").toggleClass("send-enabled",false)
    else
      $('#btn-send').prop("disabled",false);
      $("#btn-send").toggleClass("send-enabled",true)
    return
  $('#duke-input').keydown (e) ->
    code = if e.keyCode then e.keyCode else e.which
    if code == 13
      add_sent_msg($("#duke-input").val())
      send_msg($("#duke-input").val())
      clear_textarea()
      return false
delete_session = ->
    $.ajax '/duke_delete_session',
      type: 'post'
    return undefined;
add_received_msg = (msg) ->
  $.each msg, (index, value) ->
    if value.response_type == "text"
      output_received_msg(value.text)
    else if value.response_type == "option"
      output_received_msg(value.title)
      options = []
      $.each value.options, (index, value) ->
        options.push(value)
        return
      output_option(options)
    return
  html = ''
  $.each $('.msg_container_base').children(), (index, msg) ->
      html += this.outerHTML;
      return
  sessionStorage.setItem('duke-chat', html)
  return

output_option = (options) ->
  $('.msg_container_base').append('<div class="row msg_container options"/>')
  $.each options, (index, op) ->
    $('.row.msg_container.options').last().append('<button type="button" id="gb11" data-value= '+op.value.input.text+' class="gb gb-bordered hover-slide hover-fill gb-rounded option ">'+op.label+'</button>')
    return
  $('.msg_container_base').scrollTop($('.msg_container_base')[0].scrollHeight);
  return

output_received_msg = (msg) ->
  if msg != "null"
    $('.msg_container_base').append('<div class="msg-list">
                                      <div class="messenger-container">
                                        <p>'+msg+'</p>
                                      </div>
                                    </div>');
    $('.msg_container_base').scrollTop($('.msg_container_base')[0].scrollHeight);
  return

add_sent_msg = (msg) ->
  if msg != ""
    $('.msg_container_base').append('<div class="msg-list sender">
                                      <div class="messenger-container">
                                        <p>'+msg+'</p>
                                      </div>
                                    </div>');
    $('.msg_container_base').scrollTop($('.msg_container_base')[0].scrollHeight);
  return

clear_textarea = ->
  $('#btn-send').prop("disabled",true);
  $("#btn-send").toggleClass("send-enabled",false)
  $("#duke-input").val("")
  return

send_msg = (msg) ->
  $.ajax '/duke_render_msg',
    type: 'post'
    data:
      "msg": msg
      "user_id": user_specifics.account
      "tenant": user_specifics.tenant
      "duke_id": sessionStorage.getItem('duke_id')
    dataType: 'json'
    success: (data, status, xhr) ->
      add_received_msg(data)
      return
  return

create_session =  ->
  $.ajax '/duke_create_session',
    type: 'post'
    dataType: 'html'
    data:
      "user_id": user_specifics.account
      "tenant": user_specifics.tenant
    success: (data, status, xhr) ->
      console.log(data)
      sessionStorage.setItem('duke_id', data)
      send_msg("")
      return
  return

$(document).on 'click', '#btn_chat', (e) ->
  console.log("on a clické")
  $('.btn-chat').hide()
  $('.chat-window').show()
  if sessionStorage.getItem('duke_id')
    if sessionStorage.getItem('duke-chat')
      $('.msg_container_base').append(sessionStorage.getItem('duke-chat'))
      $('.msg_container_base').scrollTop($('.msg_container_base')[0].scrollHeight);
  else
    create_session()
  return

$(document).on 'click', '.fas.fa-minus', (e) ->
  $('.chat-window').hide()
  $('.btn-chat').show()
  $('.msg_container_base').children().remove()
  return

$(document).on 'click', '#btn-send', (e) ->
  add_sent_msg($("#duke-input").val())
  send_msg($("#duke-input").val())
  clear_textarea()
  return


$(document).on 'click', '.option',  ->
  target = event.target || event.srcElement;
  option_container = $(this).parent()
  current_option = $(this).data("value")
  $.each option_container.children(), (index, option) ->
    if $(option).data("value") == current_option
      $(option).toggleClass( "hover-fill hover-slide selected")
    else
      $(option).toggleClass( "hover-fill hover-slide disabled");
    $(option).prop("disabled",true);
    return
  add_sent_msg(target.innerHTML)
  if event.stopPropagation then event.stopPropagation() else (event.cancelBubble = true)
  send_msg($(this).data("value"))
  return
