%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%submit.btn-chat
  %i.icon.icon-ekylibre-alt.icon-chat
%nav#bottom_left
  %nav#top_bar
    %i.icon.icon-ekylibre-alt.top-bar-icon
    .duke-title Duke
    %a.duke-get-started{:href => "https://doc.ekylibre.com/fr/chapitre4/#duke", target: "_blank"}
      %u Pour commencer
    %a.minus-link{:href => "#", :onclick => "return false;"}
      %svg.icon-minus
        %line{:style => "stroke: white;stroke-width:4", :x1 => "40"}
  .msg_container_base
  .input-flex
    %a.btn-mic#btn-mic{:href => "#", :onclick => "return false;"}
      %svg.icon-mic{:space => "preserve", :style => "enable-background:new 0 0 200 200;", :version => "1.1", :viewbox => "0 0 200 200", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %path.st0{:d => "M100.1,133.2c18.4,0,33.3-14.9,33.3-33.3V44.4c0-18.4-14.9-33.3-33.3-33.3S66.8,26,66.8,44.4v55.5\n\tC66.8,118.3,81.7,133.2,100.1,133.2z M155.6,77.7h-5.5c-3.1,0-5.6,2.5-5.6,5.6v16.6c0,26-22.4,46.8-48.9,44.2\n\tc-23.1-2.3-40-23-40-46.2V83.2c0-3.1-2.5-5.6-5.6-5.6h-5.6c-3.1,0-5.6,2.5-5.6,5.6v13.9c0,31.1,22.2,58.8,52.8,63.1v11.9H72.2\n\tc-3.1,0-5.6,2.5-5.6,5.6v5.6c0,3.1,2.5,5.6,5.6,5.6h55.5c3.1,0,5.6-2.5,5.6-5.6v-5.6c0-3.1-2.5-5.6-5.6-5.6h-19.4v-11.7\n\tc29.7-4.1,52.8-29.6,52.8-60.5V83.2C161.2,80.2,158.7,77.7,155.6,77.7z"}
    %textarea#duke-input.duke-input{:placeholder => "Saisissez votre texte...", :spellcheck => "false"}
    %a.btn-send.disabled-send#btn-send{:href => "#", :onclick => "return false;"}
      %svg.icon-send{:space => "preserve", :style => "enable-background:new 0 0 200 200;", :version => "1.1", :viewbox => "0 0 200 200", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %path.st0{:d => "M184.9,93.4L22,11.9c-2.6-1.3-5.7-0.9-7.9,0.9c-2.1,1.8-3.1,4.7-2.4,7.4L33.6,100l-22.3,79.5\n\tc-1.1,4,1.2,8,5.2,9.1c0.7,0.2,1.4,0.3,2.2,0.2c1.2,0,2.3-0.3,3.3-0.8l162.9-81.4c3.6-1.8,5.1-6.3,3.2-10\n\tC187.4,95.2,186.3,94.1,184.9,93.4z M30.2,167.4l16.4-60.1H115V92.5H46.6l-16.4-60L165,100L30.2,167.4z"}